<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Car_Servlet</servlet-name>
        <servlet-class>web.servlets.Car_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarDealership_Servlet</servlet-name>
        <servlet-class>web.servlets.CarDealership_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Customer_Servlet</servlet-name>
        <servlet-class>web.servlets.Customer_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Car_Servlet</servlet-name>
        <url-pattern>/Car_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Customer_Servlet</servlet-name>
        <url-pattern>/Customer_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarDealership_Servlet</servlet-name>
        <url-pattern>/CarDealership_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
